.hexagon_wrapper {
    width: 100%;
}

.hexagon {
    position: relative;
    width: 10rem;
    height: 8rem;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; 
}

.hexagon .buy {
    border: 1px solid #222;
    border-radius: 7px;
    padding: 5px;
    margin-top: 7px;
    font-size: 12px;
}


/* .hexagon_wrapper {
    display: flex;
    justify-content: space-around;
    transform: rotate(-30deg);
    padding: 30px;
    position: relative;
    top: 150px;
    left: -30px;
    z-index: 10;
}
.hex_wrap {
    transform: rotate(30deg);
}
.hexagon_active {
    width: 14rem;
    height: 12rem;
    top: -30px;
    transition: all 500ms ease;
}
.hexagon_active:hover {
    transform: scale(1.1);
}
.hexagon_3 > h3{
    font-size: 28px;
}
.hexagon_3 > .buy {
    font-size: 18px;
    cursor: pointer;
}
.hex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: rotate(10deg);
    top: -60px;
} */


.hex_inner{
    background-color: #ffffff;
    width: 27rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex_inner h3 {
    font-size: 26px;
    font-weight: 600;
}

.hex_inner_left {
    /* transform: rotate(-10deg); */
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 100% 100%, 0% 100%, 0 100%);
}

.hex_inner_right {
    /* transform: rotate(-10deg); */
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0 100%);
}
.hexagon_active {
    width: 14rem;
    height: 12rem;
    /* top: -30px; */
    transition: all 1000ms ease;
}

.hexagon_active:hover {
    transform: scale(1.2);
}


.hexagon_wrapper {
    display: grid;
    grid-template-areas: 
    ". . . . A"
    ". . . B ."
    "F F C G G"
    ". D . . ."
    "E . . . .";
    justify-items: center;
}

.hexagon_A{
    grid-area: A;
}
.hexagon_B{
    grid-area: B;
}
.hexagon_C {
    grid-area: A;
}
.hexagon_D{
    grid-area: D;
}
.hexagon_E{
    grid-area: E;
}

.hex_inner_left {
    grid-area: F;
    align-self: flex-start;
    transition: all 500ms ease;
}

.hex_inner_right {
    grid-area: G;
    align-self: flex-end;
    transition: all 500ms ease;
}

.hex_inner_left:hover, 
.hex_inner_right:hover {
    transform: scale(1.1);
}

.hexagon_active {
    grid-area: C;
}